<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />

<section class="pt-6 pb-12 bg-[#F3F4F6] min-h-screen">
   <div class="container mx-auto px-4">
      @if (cargando) {
         <div class="text-center py-16">
            <img src="https://media.tenor.com/zRg95-LgG9UAAAAM/smw-mario.gif" alt="Cargando" class="mx-auto h-32 w-auto mb-3" />
            <p class="text-lg text-body-color font-medium">cargando</p>
         </div>
      }

      @if (error) {
         <div class="max-w-md mx-auto bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-lg text-center my-6">
            <p>{{ error }}</p>
         </div>
      }

      @if (!cargando && !error) {

         @if (apiService.terminoBusqueda()) {
            <div class="mb-8 flex flex-wrap items-center justify-between gap-3 bg-white px-5 py-3 rounded-xl shadow-sm border border-gray-200">
               <p class="text-gray-700 text-sm">
                  Mostrando ({{ paisesFiltrados().length }} {{ paisesFiltrados().length === 1 ? 'país' : 'países' }}) países : <span class="font-bold text-indigo-600 text-base"></span>
                  <span class="text-gray-400 ml-2">({{ paisesFiltrados().length }} {{ paisesFiltrados().length === 1 ? 'país' : 'países' }})</span>
               </p>
               
            </div>
         }


         @if (paisesFiltrados().length === 0) {
            <div class="text-center py-16 bg-white rounded-2xl shadow-sm border border-gray-200 my-4 max-w-lg mx-auto p-8">
               <span class="text-5xl mb-4 block">🔍</span>
               <h3 class="text-xl font-bold text-gray-800 mb-2">No se encontraron paises</h3>
               <p class="text-gray-500 text-sm mb-6">
                  No hay paises "<strong>{{ apiService.terminoBusqueda() }}</strong>".
               </p>

            </div>
         } @else {

            <div class="flex flex-wrap -mx-4">
               @for (pais of paisesPagina(); track pais.uuid || pais.codes?.alpha_3 || $index) {
                  <div class="w-full md:w-1/2 xl:w-1/3 px-4 flex">
                     <app-pais-card
                        class="w-full flex"
                        [pais]="pais"
                        (verClima)="onVerClima($event)"
                        (verDetalles)="onVerDetalles($event)"
                     />
                  </div>
               }
            </div>

            <app-paginador [paginaActual]="paginaActual()" [totalPaginas]="totalPaginas()" (paginaChange)="irAPagina($event)"/>
         }
      }
   </div>
</section>

@if (paisSeleccionadoModal()) {
   <app-modales-component
      [pais]="paisSeleccionadoModal()"
      [tipo]="tipoModal()"
      (cerrar)="cerrarModal()"
   />
}
